## **Übungsbeispiele zur String-Formatierung in Python** 

### Beispiel
Du hast den Namen einer Person und das Jahr, in dem sie geboren wurde. Du möchtest einen Satz erstellen, der beides einbindet.

```python
name = "Anna"
geburtsjahr = 1992

satz = "Hallo, mein Name ist {} und ich wurde im Jahr {} geboren.".format(name, geburtsjahr)
print(satz)
```

Dies würde ausgeben: `Hallo, mein Name ist Anna und ich wurde im Jahr 1992 geboren.`

### Übungen zur String-Formatierung


Du kannst diese Aufgaben lösen, indem du Python's Formatierungsfähigkeiten verwendest, wie die `.format()` Methode, f-Strings, die `%`-Syntax und einige eingebaute Funktionen wie `str.center()`. Viel Spaß beim Üben!

#### Aufgabe 1
Schreibe einen String, der die Methode `format()` verwendet, um die Variablen `stadt` und `land` in einen Satz einzufügen.

```python
stadt = "Berlin"
land = "Deutschland"
# Dein Code hier
```

In [5]:
stadt = "Berlin"
land = "Deutschland"
print("{} ist die schönste Stadt in {}.".format(stadt,land))
print("{0} ist die schönste Stadt in {1}.".format(stadt,land))
print("{s} ist die schönste Stadt in {l}.".format(l=land,s=stadt))

Berlin ist die schönste Stadt in Deutschland.
Berlin ist die schönste Stadt in Deutschland.
Berlin ist die schönste Stadt in Deutschland.

#### Aufgabe 2
Benutze f-Strings, um denselben Satz wie in Aufgabe 1 zu erstellen.

```python
stadt = "Berlin"
land = "Deutschland"
# Dein Code hier
```

In [8]:
stadt = "Berlin"
land = "Deutschland"
print(f"{stadt} ist die schönste Stadt in {land}.")

Berlin ist die schönste Stadt in Deutschland.


#### Aufgabe 3
Formatiere die folgenden Zahlen innerhalb eines Strings auf zwei Dezimalstellen:

```python
zahl1 = 3.14159
zahl2 = 2.71828
# Dein Code hier
```

In [9]:
# Simon Ehlers
zahl1 = 3.14159
zahl2 = 2.71828
string_3 = (f"zahl1 = {zahl1:.2f},    zahl2 = {zahl2:.2f}")
print(string_3)

zahl1 = 3.14,    zahl2 = 2.72

In [11]:
# Patrick Golze
print('%4.2f, %10.2f' % (3.14159, 2.71828))

3.14,       2.72


#### Aufgabe 4
Erstelle einen String, der die Variable `temperatur` mit Vorzeichen (+/-) formatiert.

```python
temperatur = -5.11
# Dein Code hier
```

In [15]:
# Olena Ahina
temperatur = 5.11
print("%+10.2f" % (temperatur))

     +5.11

#### Aufgabe 5
Fülle die untenstehenden Variablen in einen mehrzeiligen String mit Einrückungen ein.

```python
titel = "Python Programmierung"
level = "Anfänger"
dauer = "4 Wochen"
# Dein Code hier
```

In [17]:
# Christian Arias
titel = "Python Programmierung"
level = "Anfänger"
dauer = "4 Wochen"
print('{0:>30}\n{1:>20}\n{2:>20}'.format(titel,level,dauer))

         Python Programmierung
            Anfänger
            4 Wochen

In [20]:
titel = "Python Programmierung"
level = "Anfänger"
dauer = "4 Wochen"
mehr_zeiliger_string = f'''
          Titel = {titel}
Level = {level}
    Dauer = {dauer}
    '''
print(mehr_zeiliger_string)

          Titel = Python Programmierung
Level = Anfänger
    Dauer = 4 Wochen

In [22]:
titel = "Python Programmierung"
level = "Anfänger"
dauer = "4 Wochen"
mehr_zeiliger_string = """
          Titel = {}
Level = {}
    Dauer = {}
    """.format(titel, level, dauer)
print(mehr_zeiliger_string)

          Titel = Python Programmierung
Level = Anfänger
    Dauer = 4 Wochen

In [23]:
#Jacqueline Bogenberger 
titel = "Python Programmierung"
level = "Anfänger"
dauer = "4 Wochen"
 
m_string = f"""
    Titel: {titel}
    Level: {level}
    Dauer: {dauer}
"""
print(m_string)

    Titel: Python Programmierung
    Level: Anfänger
    Dauer: 4 Wochen


#### Aufgabe 6
Verwende die alte `%`-Syntax, um die Variablen `vorname` und `nachname` in einen String einzubinden.

```python
vorname = "Max"
nachname = "Mustermann"
# Dein Code hier
```

In [24]:
#Christian Arias
vorname = "Max"
nachname = "Mustermann"
print('%s %s'%(vorname, nachname))

Max Mustermann

#### Aufgabe 7
Erstelle einen String, der ein Dictionary verwendet, um die Werte einzusetzen.

```python
person_info = {'name': 'Lisa', 'alter': 34}
# Dein Code hier
```

In [25]:
# Patrick Golze
person_info = {'name': 'Lisa', 'alter': 34}
 
print('{name} ist {alter} alt '.format(**person_info))

Lisa ist 34 alt

In [27]:
person_info = {'name': 'Lisa', 'alter': 34}
 
# **person_info => (name='Lisa', alter=34)
print('{name} ist {alter} alt '.format(name='Lisa', alter=34))

Lisa ist 34 alt

In [28]:
# Natalia Archipenko
print(f'{person_info["name"]} ist {person_info["alter"]} alt')

Lisa ist 34 alt

In [29]:
capital_country = {"Vereinigte Staaten" : "Washington",
                   "US" : "Washington",
                   "Kanada" : "Ottawa",
                   "Deutschland": "Berlin",
                   "Frankreich" : "Paris",
                   "England" : "London"}
print("Countries and their capitals:")
for c in capital_country:
    format_string = c + ": {" + c + "}"
    print(format_string.format(**capital_country))

Countries and their capitals:
Vereinigte Staaten: Washington
US: Washington
Kanada: Ottawa
Deutschland: Berlin
Frankreich: Paris
England: London

In [32]:
person_info = {'name': 'Lisa', 'alter': 34}
 
# **person_info => (name='Lisa', alter=34)
name = person_info['name']
alter = person_info['alter']
print(name + " ist " + str(alter) + " alt ")

Lisa ist 34 alt

#### Aufgabe 8
Formatiere die folgenden Zahlen als Währung, wobei das Symbol für den Euro verwendet wird.

```python
preis1 = 49.99
preis2 = 19.90
# Dein Code hier
```

In [35]:
# Patrick Golze
preis1 = 49.99
preis2 = 19.90
waehrung = '€'
print('{0} {2}\n {1} {2}'.format(preis1,preis2,waehrung))

49.99 DM
 19.9 DM

#### Aufgabe 9
Erstelle einen String, der dynamisch die Breite eines anderen Strings anpasst, sodass er immer in einem Feld von 20 Zeichen zentriert ist.

```python
benutzername = "julia_schmidt"
# Dein Code hier
```

In [36]:
#Jacqueline Bogenberger 
benutzername = "julia_schmidt"
breite = 20
 
z_benutzername = benutzername.center(breite)
print(f"|{z_benutzername}|")

|   julia_schmidt    |

In [43]:
name = "Julia Schmidt"
print(f"|{name:^20}|")

|   Julia Schmidt    |


#### Aufgabe 10
Erstelle eine Ausgabe in Tabellenform für Produktinformationen, die die Produktnamen, Stückzahlen und Preise in einer ausgerichteten Tabelle darstellt.

```python
produkte = [
    {"name": "Tastatur", "menge": 14, "preis": 29.99},
    {"name": "Maus", "menge": 33, "preis": 19.95},
    {"name": "Monitor", "menge": 5, "preis": 89.99}
]
# Dein Code hier
```

In [69]:
produkte = [
    {"Produkt": "Tastatur", "Anzahl": 14, "Preis": 29.99},
    {"Produkt": "Maus", "Anzahl": 33, "Preis": 19.95},
    {"Produkt": "Monitor", "Anzahl": 5, "Preis": 89.99}
]

column_names = list(produkte[0].keys())
header = "{0:<10}|{1:^10}|{2:>10}".format(*column_names)
print(header)
print("-"*32)

zeilen_formatierung = "{"+column_names[0]+":<10}|{"+column_names[1]+":^10}|{"+column_names[2]+":>10}"

# iteriere über alle Produkte
for p in produkte:
    # p["name"], p["menge"], p["preis"]
    print(zeilen_formatierung.format(**p)) # => name="Tastatur", menge=14, preis=29.99

print("-"*32)

Produkt   |  Anzahl  |     Preis
--------------------------------
Tastatur  |    14    |     29.99
Maus      |    33    |     19.95
Monitor   |    5     |     89.99
--------------------------------

In [51]:
# Olha Ishchenko
produkte = [
    {"name": "Tastatur", "menge": 14, "preis": 29.99},
    {"name": "Maus", "menge": 33, "preis": 19.95},
    {"name": "Monitor", "menge": 5, "preis": 89.99}
]
print(f"{'Produkt':<10} {'Menge':<10} {'Preis (€)':<10}")
print("-" * 30)
for produkt in produkte:
    print(f"{produkt['name']:<10} {produkt['menge']:<10} {produkt['preis']:<10.2f}")

Produkt    Menge      Preis (€)
------------------------------
Tastatur   14         29.99
Maus       33         19.95
Monitor    5          89.99