# Ecommerce Verkäufe Übung - Aufgabe
In dieser Übung werden wir unechte Verkaufsdaten von Amazon nutzen. Dieser Datensatz liegt uns in Englisch vor und heißt "Ecommerce Purchases" (dt. Ecommerce Verkäufe). 

Folgt dem Notebook und beantwortet die gestellten Aufgaben. Dabei ist es wichtig, dass es häufig mehrere Lösungen zum gewünschten Ergebnis gibt, jede Aufgabe aber in einer Zeile Code gelöst werden kann. Außerdem werden die Aufgaben nach und nach schwerer.

Bitte seht es uns nach, wenn nicht alle Ergebnisse "realistisch" sind bzw. Sinn ergeben. Das liegt daran, dass es sich hier um unechte, ausgedachte Daten handelt.

**Importiere Pandas als pd.**

In [1]:
import pandas as pd

**Lese die CSV-Datei "Ecommerce-Verkaeufe.csv" ein und setze einen DataFrame names "ecom" darauf auf.**

In [2]:
df_e_v = pd.read_csv('Ecommerce-Verkaeufe.csv')

**Schaue dir den *head* des DataFrame an.**

In [3]:
df_e_v.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**Wie viele Zeilen und Spalten gibt es?**

In [7]:
df_e_v.shape

(10000, 14)

In [5]:
df_e_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**Was ist der durchschnittliche (en. mean) Einkaufspreis (en. purchase price)?** 50.34730200000025

In [9]:
print(df_e_v['Purchase Price'].mean())

50.347302

**Was waren der höchste und der niedrigste Einkaufspreis?** 99.989999999999995, 0.0

In [29]:
df_e_v['Purchase Price'].max()

np.float64(99.99)

In [23]:
df_e_v.nlargest(1, 'Purchase Price')['Purchase Price']

2092    99.99
Name: Purchase Price, dtype: float64

In [32]:
df_e_v.sort_values('Purchase Price').tail(1)['Purchase Price']

7807    99.99
Name: Purchase Price, dtype: float64

In [31]:
df_e_v.sort_values('Purchase Price').head(1)['Purchase Price']

5487    0.0
Name: Purchase Price, dtype: float64

In [8]:
df_e_v['Purchase Price'].min()

0.0

**Wie viele Leute haben Deutsch "de" als ihre Sprache (en. language) der Wahl?**

- <class 'pandas.core.frame.DataFrame'>
- Int64Index: 1155 entries, 2 to 9992
- Data columns (total 14 columns):
- Address             1155 non-null object
- Lot                 1155 non-null object
- AM or PM            1155 non-null object
- Browser Info        1155 non-null object
- Company             1155 non-null object
- Credit Card         1155 non-null int64
- CC Exp Date         1155 non-null object
- CC Security Code    1155 non-null int64
- CC Provider         1155 non-null object
- Email               1155 non-null object
- Job                 1155 non-null object
- IP Address          1155 non-null object
- Language            1155 non-null object
- Purchase Price      1155 non-null float64
- dtypes: float64(1), int64(2), object(11)
- memory usage: 135.4+ KB

In [15]:
df_e_v[df_e_v['Language']=='de'].count()

Address             1155
Lot                 1155
AM or PM            1155
Browser Info        1155
Company             1155
Credit Card         1155
CC Exp Date         1155
CC Security Code    1155
CC Provider         1155
Email               1155
Job                 1155
IP Address          1155
Language            1155
Purchase Price      1155
dtype: int64

**Wie viele Leute tragen als Berufsbezeichnung "Lawyer" (dt. Anwalt)?**

In [16]:
df_e_v[df_e_v['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

**Wie viele Leute tätigten ihren Einkauf vor 12 Uhr (en. AM) und wie viele nach 12 Uhr (en. PM)?**

- PM    5068
- AM    4932
- Name: AM or PM, dtype: int64

*Hinweis: Schaut euch dazu [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) an!*

In [18]:
df_e_v.value_counts(subset=['AM or PM'])

AM or PM
PM          5068
AM          4932
Name: count, dtype: int64

**Was sind die 5 häufigsten Berufsbezeichnungen (en. job title)?**
- Interior and spatial designer    31
- Lawyer                           30
- Social researcher                28
- Designer, jewellery              27
- Purchasing manager               27
- Name: Job, dtype: int64

In [20]:
df_e_v.value_counts(subset=['Job']).head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

**Jemand tätigte einen Kauf vom Lot "90 WT" aus. Wie war dessen Einkaufspreis (en. purchase price)?**
- 513    75.1
- Name: Purchase Price, dtype: float64

In [22]:
df_e_v[df_e_v['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**Wie lautet die Emailadresse der Person mit folgender Kreditkartennummer: 4926535242672853?**
- 1234    bondellen@williams-garza.com
- Name: Email, dtype: object

In [39]:
df_e_v.iloc[1234]

Address             2470 Maria Manors Suite 185\nJoneshaven, MN 87251
Lot                                                             82 UX
AM or PM                                                           PM
Browser Info        Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...
Company                                         Cole, King and Bowers
Credit Card                                          4926535242672853
CC Exp Date                                                     09/21
CC Security Code                                                  188
CC Provider                                          American Express
Email                                    bondellen@williams-garza.com
Job                                 Planning and development surveyor
IP Address                                               159.182.3.50
Language                                                           ru
Purchase Price                                                  77.88
Name: 1234, dtype: object

In [41]:
df_e_v[df_e_v['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**Wie viele Leute haben als Kreditkartenanbieter (en. credit card provider) *American Express* und haben einen Einkauf über $95 getätigt?**

In [49]:
df_e_v[(df_e_v['CC Provider']=='American Express') & (df_e_v['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**Die Kreditkarte wie vieler Kunden läuft im Jahr 2025 ab?**<br>
1033

**Hinweis:** mit apply() und lambda Ausdruck können wir einen Teil aus den Daten extrahieren und einen Vergleich durchführen

In [59]:
y = lambda x: x.split('/')[-1] == '25' 
df_e_v['CC Exp Date'].apply(y).sum()

np.int64(1033)

**Was sind die populärsten Email-Anbieter (z.B. gmail.com)?**<br>
**Hinweis:** mit apply , lambda Ausdruck und String-Methode können wir den Namen extrahieren

In [63]:
z = lambda x: x.split('@')[-1]
df_e_v['Email'].apply(z).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Gut gemacht