# SF Löhne Übung - Aufgabe

Willkommen zurück zu einer kleinen Übungseinheit zur Daten Analyse mit Pandas. Wir werden dafür den [Lohndatensatz von San Francisco](https://www.kaggle.com/kaggle/sf-salaries) nutzen, der auf Kaggle bereitgestellt wird. 

Folgt dem Notebook und bearbeitet die **Aufgabenstellung** der Reihenfolge nach.

**Importiere pandas als pd.**

In [1]:
import pandas as pd

**Lese Salaries.csv als Dataframe namens sal ein.**

**Hinweis:** Die Datei *Salaries.csv* liegt im diesem Übungungsheft anbei. Wenn du diese von Kaggle herunterlädst dann muss du die Daten noch etwas anpassen.

In [2]:
df_salaries = pd.read_csv('Salaries.csv')

**Sieh dir den *head* des Dataframe an.**

In [4]:
df_salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Nutze die `info()` Methode, um herauszufinden, wie viele Einträge es gibt.**

In [5]:
df_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Was ist der durchschnittliche Grundlohn (en. BasePay)?**

In [7]:
print(df_salaries['BasePay'].mean())

66325.4488404877

**Was ist der höchste Überstundenlohn (en. OvertimePay), der im Datensatz festgehalten ist?**

In [9]:
print(df_salaries['OvertimePay'].max())

245131.88

**Wie lautet die Berufsbezeichnung (en. JobTitle) von JOSEPH DRISCOLL?**

- 24    CAPTAIN, FIRE SUPPRESSION
- Name: JobTitle, dtype: object

*Achtung: Beim Namen nur Großbuchstaben vernwenden!*<br>
**Hinweis**: Auswahl funktioniert ähnlich wie bei `numpy` arrays, eine Bedinung wird über jedes Element geprüft und liefert eine boolsche Series. Mit dieser können dann die Daten gefiltert werden.

In [10]:
df_salaries[df_salaries['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Wie viel verdient JOSEPH DRISCOLL (inkl. Zusatleistungen (en. Benefits))?**<br><br>
- 24    270324.91
- Name: TotalPayBenefits, dtype: float64

**Hinweis:** Erst entsprechnde Zeile bestimmen (filtern wie oben), dann Wert ausgeben

In [16]:
df_salaries[df_salaries['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Wie heißt die höchstbezahlte Person (inkl. Zusatzleistungen)?**

In [19]:
max_t_p_b = df_salaries['TotalPayBenefits'].max()
df_salaries[df_salaries['TotalPayBenefits'] == max_t_p_b]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [4]:
df_salaries.loc[df_salaries['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [21]:
df_salaries.iloc[0]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**Wie lautet der Name der am niedrigsten bezahlten Person? Fällt dir etwas merkwürdiges an ihrem Lohn auf?**

In [6]:
min_t_p_b = df_salaries['TotalPayBenefits'].min()
df_salaries[df_salaries['TotalPayBenefits'] == min_t_p_b]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [30]:
df_salaries[df_salaries['TotalPayBenefits'] == min_t_p_b]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [7]:
min_id = int(df_salaries[df_salaries['TotalPayBenefits'] == min_t_p_b].index.values)

C:\Users\OlhaIshchenko\AppData\Local\Temp\ipykernel_32332\838378146.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  min_id = int(df_salaries[df_salaries['TotalPayBenefits'] == min_t_p_b].index.values)

In [8]:
df_salaries.iloc[(min_id)]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [9]:
df_salaries.loc[df_salaries['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

**Muss NICHT bearbeitet werden, machen wir noch**<br>
**Wie ist der durchschnittliche (en. mean) Grundlohn (en. base pay) von allen Angestellten pro Jahr (2011-2014)?**
<br><br>
**Hinweis:** Erstmal Filter für entsprechende Jahre auf das DataFrame anwenden, dann nach Jahr gruppieren

In [10]:
df_Jahr_2011_2014 = df_salaries[df_salaries['Year'].between(2011,2014)]
df_Jahr_2011_2014.groupby('Year')['BasePay'].mean().round(2)

Year
2011    63595.96
2012    65436.41
2013    69630.03
2014    66564.42
Name: BasePay, dtype: float64

**Wie viele einzigartige (en. unique) Jobbezeichnungen (en. job titles) gibt es?**

In [64]:
len(df_salaries['JobTitle'].unique())

2159

**Was sind die 5 häufigsten Jobs?**

In [78]:
df_salaries.value_counts("JobTitle").head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [75]:
df_salaries['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**Wie viele Berufsbezeichnungen (en. job titles) wurden 2013 von nur einer Person getragen?**

*Hinweis: Haben nur eine Erscheinung in 2013*<br>
`value_counts()` kann benutzt werden um die Vorkommen der einzigartigen Werte zu zählen

In [93]:
df_Y2013  = df_salaries[df_salaries['Year']==2013]
unique_job_titles = df_Y2013.value_counts('JobTitle')
(unique_job_titles == 1).sum()

np.int64(202)

**Wie viele Angestellte tragen ein "Chief" in ihrer Berufsbezeichnung?**

*Hinweis: Das ist eine etwas schwierigere Aufgabe, nehmt euch etwas Zeit dafür.*<br>
**Hinweis:** eigene Funktionen/lambda-Ausdruck definieren und mit `apply()` anwenden

In [110]:
chief = lambda x : 'CHIEF' in x.upper()
(df_salaries['JobTitle'].apply(chief)).sum()

np.int64(627)

In [112]:
chief = lambda x : (x.find('CHIEF') != -1) or (x.find('Chief') != -1)
(df_salaries['JobTitle'].apply(chief)).sum()

np.int64(627)

**Muss NICHT bearbeitet werden, machen wir noch**<br>
**Bonus: Gibt es eine Korrelation zwischen der Länge einer Berufsbezeichnung und dem Lohn?**

In [108]:
len_title= lambda x: len(x)
df_salaries['title_len'] = df_salaries['JobTitle'].apply(len_title)
df_cor = df_salaries[['title_len', 'TotalPayBenefits']]
df_cor.corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Gut gemacht!

In [3]:
df_salaries.loc[df_salaries['TotalPayBenefits'].idxmax()], df_salaries.loc[df_salaries['TotalPayBenefits'].idxmin()]

(Id                                                               1
 EmployeeName                                        NATHANIEL FORD
 JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
 BasePay                                                  167411.18
 OvertimePay                                                    0.0
 OtherPay                                                 400184.25
 Benefits                                                       NaN
 TotalPay                                                 567595.43
 TotalPayBenefits                                         567595.43
 Year                                                          2011
 Notes                                                          NaN
 Agency                                               San Francisco
 Status                                                         NaN
 Name: 0, dtype: object,
 Id                                      148654
 EmployeeName                         Joe Lopez
 JobTitle            Counselor, Log Cabin Ranch
 BasePay                                    0.0
 OvertimePay                                0.0
 OtherPay                               -618.13
 Benefits                                   0.0
 TotalPay                               -618.13
 TotalPayBenefits                       -618.13
 Year                                      2014
 Notes                                      NaN
 Agency                           San Francisco
 Status                                     NaN
 Name: 148653, dtype: object)