In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

categories = ["A", "B", "C", "A", "C", "A", "B", "C", "A", "B"] 
values = [5000, 7000, 6000, 5200, 6200, 4400, 6400, 5400, 5400, 7200]


df = pd.DataFrame({"cat":categories, "val":values})
df.head()

  cat   val
0   A  5000
1   B  7000
2   C  6000
3   A  5200
4   C  6200

In [25]:
df = pd.get_dummies(df, columns=["cat"])
df.head()

    val  cat_A  cat_B  cat_C
0  5000   True  False  False
1  7000  False   True  False
2  6000  False  False   True
3  5200   True  False  False
4  6200  False  False   True

In [26]:
X = df.drop(["val"], axis=1)
y = df.val

X_train, X_test, y_train, y_test = train_test_split(X ,y ,test_size=.2,random_state=42)
lm = LinearRegression()
lm.fit(X_train, y_train)
lm.score(X_train, y_train)

0.8188859100387251

In [27]:
lm.score(X_test, y_test)

0.746527777777778

In [28]:
lm.coef_

array([-977.77777778,  955.55555556,   22.22222222])

In [30]:
lm.intercept_

np.float64(5844.444444444444)