### 1. DataFrame Erstellung
#### Aufgabe 1: Erstelle ein DataFrame aus den folgenden Daten:

- Temperatur: [22, 24, 26, 28, 30]
- Luftfeuchtigkeit: [60, 55, 50, 45, 40]
- Windgeschwindigkeit: [5, 7, 9, 6, 8]
- Regenwahrscheinlichkeit: [0.3, 0.5, 0.7, 0.2, 0.1]

In [1]:
import pandas as pd
import numpy as np

In [5]:
temperatur = [22, 24, 26, 28, 30]
luftfeuchtigkeit = [60, 55, 50, 45, 40]
windgeschwindigkeit = [5, 7, 9, 6, 8]
regenwahrscheinlichkeit = [0.3, 0.5, 0.7, 0.2, 0.1]
wetter ={
    'Temperatur': temperatur,
    'Luftfeuchtigkeit': luftfeuchtigkeit,
    'Windgeschwindigkeit': windgeschwindigkeit,
    'Regenwahrscheinlichkeit': regenwahrscheinlichkeit
}
df_wetter = pd.DataFrame(wetter)
df_wetter

   Temperatur  Luftfeuchtigkeit  Windgeschwindigkeit  Regenwahrscheinlichkeit
0          22                60                    5                      0.3
1          24                55                    7                      0.5
2          26                50                    9                      0.7
3          28                45                    6                      0.2
4          30                40                    8                      0.1

#### Aufgabe 2: 
Füge dem erstellten DataFrame eine neue Spalte mit dem Namen "Druck" hinzu, wobei der Wert für alle Zeilen 1013 ist (dies könnte den Luftdruck in hPa darstellen).

In [6]:
df_wetter['Druck'] = 1013
df_wetter

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck
0,22,60,5,0.3,1013
1,24,55,7,0.5,1013
2,26,50,9,0.7,1013
3,28,45,6,0.2,1013
4,30,40,8,0.1,1013

### 2. DataFrame Auswahl, Slicing und Indexierung
#### Aufgabe 1: 
Wähle aus dem DataFrame alle Zeilen aus, bei denen die Luftfeuchtigkeit größer als 50 ist.

In [7]:
df_wetter[df_wetter['Luftfeuchtigkeit']>50]

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck
0,22,60,5,0.3,1013
1,24,55,7,0.5,1013

#### Aufgabe 2: 
Wähle die Spalten Temperatur und Regenwahrscheinlichkeit aus dem DataFrame aus und speichere das Ergebnis in einer neuen Variablen.

In [9]:
df_t_r = df_wetter[['Temperatur', 'Regenwahrscheinlichkeit']]
df_t_r

   Temperatur  Regenwahrscheinlichkeit
0          22                      0.3
1          24                      0.5
2          26                      0.7
3          28                      0.2
4          30                      0.1

#### Aufgabe 3: 
Verwende .iloc[], um die Werte aus den ersten drei Zeilen und den ersten zwei Spalten des DataFrames auszuwählen.

In [11]:
df_wetter.iloc[:3, :2]

   Temperatur  Luftfeuchtigkeit
0          22                60
1          24                55
2          26                50

### 3. DataFrame Manipulation und Operationen
#### Aufgabe 1: 
Berechne die durchschnittliche Luftfeuchtigkeit und speichere das Ergebnis in einer Variablen.

In [12]:
mean_luftfeuchtigkeit = df_wetter['Luftfeuchtigkeit'].mean()
mean_luftfeuchtigkeit

np.float64(50.0)

#### Aufgabe 2: 
Erstelle eine neue Spalte "Temperatur_in_Fahrenheit", die die Werte aus der Spalte Temperatur in Fahrenheit umwandelt.
Formel: $$T_F=T_C×9/5+32$$

In [13]:
df_wetter['Temperatur_in_Fahrenheit'] = df_wetter['Temperatur'] * 9 / 5 + 32
df_wetter

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck,Temperatur_in_Fahrenheit
0,22,60,5,0.3,1013,71.6
1,24,55,7,0.5,1013,75.2
2,26,50,9,0.7,1013,78.8
3,28,45,6,0.2,1013,82.4
4,30,40,8,0.1,1013,86.0

#### Aufgabe 3: 
Berechne die maximale Windgeschwindigkeit aus der Spalte Wind Speed und die minimale Regenwahrscheinlichkeit aus der Spalte Rainfall Probability

In [14]:
max_wind = df_wetter['Windgeschwindigkeit'].max()
min_regen  = df_wetter['Regenwahrscheinlichkeit'].min()
max_wind, min_regen

(np.int64(9), np.float64(0.1))

### 4. DataFrame Boolesche Arrays (Masken)
#### Aufgabe 1: 
Erstelle eine boolesche Maske, die True ist, wenn die Regenwahrscheinlichkeit größer als 0.5 ist, und False, wenn sie kleiner oder gleich 0.5 ist.

In [26]:

mask= df_wetter['Regenwahrscheinlichkeit']>0.5

#### Aufgabe 2: 
Verwende die Maske aus Aufgabe 1, um alle Zeilen aus dem DataFrame auszuwählen, bei denen die Regenwahrscheinlichkeit größer als 0.5 ist.

In [27]:
df_wetter[mask]

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck,Temperatur_in_Fahrenheit
2,26,50,9,0.7,1013,78.8

#### Aufgabe 3: 
Erstelle eine boolesche Maske, um alle Zeilen auszuwählen, bei denen die Temperatur größer als 25 und die Luftfeuchtigkeit kleiner als 50 ist.

In [28]:
mask_2 = (df_wetter['Temperatur'] > 25) & (df_wetter['Luftfeuchtigkeit'] < 50)

In [29]:
df_wetter[mask_2]

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck,Temperatur_in_Fahrenheit
3,28,45,6,0.2,1013,82.4
4,30,40,8,0.1,1013,86.0

### 5. DataFrame Zusammenfassende Statistik
#### Aufgabe 1: 
Berechne den Durchschnitt der Spalten Temperatur, Luftfeuchtigkeit und Windgeschwindigkeit.

In [30]:
# gr.agg(
#     max_age=('Age', 'max'),
#     min_age=('Age', 'min'),
#     avg_fare=('Fare', 'mean')
# ).round(2).T
print(f'Durchschnitt Temperatur: {df_wetter['Temperatur'].mean()}')
print(f'Durchschnitt Luftfeuchtigkeit: {df_wetter['Luftfeuchtigkeit'].mean()}')
print(f'Durchschnitt Windgeschwindigkeit {df_wetter['Windgeschwindigkeit'].mean()}')

Durchschnitt Temperatur: 26.0
Durchschnitt Luftfeuchtigkeit: 50.0
Durchschnitt Windgeschwindigkeit 7.0

#### Aufgabe 2: 
Berechne die Standardabweichung der Regenwahrscheinlichkeit.

In [32]:
print(f'Standardabweichung Regenwahrscheinlichkeit {df_wetter['Regenwahrscheinlichkeit'].std().round(4)}')

Standardabweichung Regenwahrscheinlichkeit 0.2408

#### Aufgabe 3: 
Erstelle eine deskriptive Statistik für das gesamte DataFrame, um den minimale, maximale und mittelwertige Wert für jede Spalte zu ermitteln.

In [33]:
df_wetter.describe()

,Temperatur,Luftfeuchtigkeit,Windgeschwindigkeit,Regenwahrscheinlichkeit,Druck,Temperatur_in_Fahrenheit
count,5.000000,5.000000,5.000000,5.000000,5.0,5.0000
mean,26.000000,50.000000,7.000000,0.360000,1013.0,78.8000
std,3.162278,7.905694,1.581139,0.240832,0.0,5.6921
min,22.000000,40.000000,5.000000,0.100000,1013.0,71.6000
25%,24.000000,45.000000,6.000000,0.200000,1013.0,75.2000
50%,26.000000,50.000000,7.000000,0.300000,1013.0,78.8000
75%,28.000000,55.000000,8.000000,0.500000,1013.0,82.4000
max,30.000000,60.000000,9.000000,0.700000,1013.0,86.0000