# Pandas Aufgaben

##### Aufgabe (1)
Erzeugen Sie ein beliebiges DataFrame mit einem Index, der aus Vornamen besteht,
sowie einer Spalte für das Gewicht und einer Spalte für die Körpergröße. Befüllen Sie dann mit _imaginäre Daten_ Ihren Dataframe.

In [1]:
import pandas as pd

In [2]:
# schreibe deinen code hier
leute = {
    'Gewicht':[50, 60, 65, 70, 80, 85, 90, 95, 100, 110],
    'Körpergröße':[160, 165, 170, 175, 180, 185, 190, 195, 200, 205]
}
leute_df = pd.DataFrame(leute, index=['Julia', 'Olha', 'Natalia', 'Simon', 'Lorena', 'Lisa', 'Maria', 'Andreas', 'Julian', 'Karl'])
leute_df

         Gewicht  Körpergröße
Julia         50          160
Olha          60          165
Natalia       65          170
Simon         70          175
Lorena        80          180
Lisa          85          185
Maria         90          190
Andreas       95          195
Julian       100          200
Karl         110          205

##### Aufgabe (2)

Extrahieren Sie dann alle Zeilen, deren BMI (Body Mass Index) im normalen Bereich liegt, d.h. zwischen 18.5 und 25.
  
Es gilt:
- BMI = m / (h ∗∗ 2)
- m: Körpermaße in Kilogramm
- h: Körpergröße in Meter

_Tipp_ Sie können in Dataframe eine neue Spalte `bmi` hinzufügen:  

```python
df['bmi'] = # Berechnung
```

In [5]:
# schreibe deinen code hier
leute_df['bmi'] = leute_df['Gewicht'] / (leute_df['Körpergröße'] ** 2) * 10000
leute_df[(leute_df['bmi']>18.5) & (leute_df['bmi']<25)]

         Gewicht  Körpergröße        bmi
Julia         50          160  19.531250
Olha          60          165  22.038567
Natalia       65          170  22.491349
Simon         70          175  22.857143
Lorena        80          180  24.691358
Lisa          85          185  24.835646
Maria         90          190  24.930748
Andreas       95          195  24.983563

##### Aufgabe(3)

Exportieren Sie Ihren Dataframe als eine `csv` Datei, z.B. `bmi.csv`

In [9]:
# schreibe deinen code hier
leute_df.to_csv('bmi.csv')

Happy Coding!