<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDiDpm8v8Nl2dB2tMxHY7SKFnp2-S71Q6hnQ&usqp=CAU'/>

# Pandas

- 3rd Party Bibliothek zur Verarbeitung  tabellarischer Daten
- basiert auf NumPy
- Datenstrukturen: Series, Dataframe

#### Installation

In [54]:
# %%capture
# !pip install pandas

#### Zusätzliches Paket für Excel (werden wir erst installieren falls zwingend benötigt)

In [55]:
# %%capture
# !pip install xlrd

#### Informationen zum Pandas-Modul

In [56]:
# !pip show pandas

Name: pandas
Version: 2.2.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: c:\Users\OlhaIshchenko\Documents\Daten_Analyse\unterricht\.my_venv\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by:

#### Pandas Dokumentation

findet man hier: https://pandas.pydata.org/

#### Pandas importieren

es üblich, dass man Pandas in pd umbennent:

In [57]:
import pandas as pd

### Pandas Datenstrukturen

- Series: eine eindimensionale Darstellung von Daten (ähnlich wie NumPy Arrays)
- DataFrame: eine zweidimensionale (tabellarisch: Reihen und Spalten) Darstellung von Daten

#### Series

<img src='https://pandas.pydata.org/docs/_images/01_table_series.svg' width='150px;'>

Ein Series-Objekt kann man wie die Spalte in einer Excel-Tabelle plus dem zugehörigen Index sehen. Anders ausgedrückt: Eine Series ist ein eindimensionales Array-ähnliches Objekt mit einem Index. Während bei einem Array der Index den natürlichen Zahlen von 0
bis zur Länge des Arrays (exklusive) entspricht, kann der Index einer Series beliebig sein.
  
Sowohl der Index als auch die Werte einer Series müssen einen einheitlichen Datentyp aufweisen, also beispielsweise nur Integers, Floats, Strings usw.  

Eine Series kann als eine Datenstruktur mit zwei Arrays angesehen werden: Ein Array fungiert als Index, d.h. als Bezeichner (Label), und ein Array beinhaltet die aktuellen Daten
(Werte).

Series wurden ursprünglich zur Analyse von Zeitreihen (engl. time series) entwickelt.  
  
Series sind _explizit_ indiziert (flexibler als NumPy Arrays: _implizit indiziert_)

In [58]:
import numpy as np

arr = np.array([10,20,30])
arr # in der Ausgabe sehen wir nur die Elemente des Arrayobjekts

array([10, 20, 30])

In [59]:
ser = pd.Series(index=range(3),  # Indizes
                data=[10,20,30]) # Elemente
ser

0    10
1    20
2    30
dtype: int64

Im Folgenden lernen wir:

- Ein Series-Objekt erstellen
- Zugriff auf Elemente (Einzel)
- Zugriff auf einen Teilbereich (Slicing)
- Gruppieren (engl. groupby)
- Abfragen erstellen
- Weitere Funktion, Methoden und Attribute für Series

#### Ein Series-Objekt erstellen

Series sind Objekte der Klasse `pandas.Series`

In [60]:
#help(pd.Series)

##### Series mit nummerischen Indizes

In [61]:
ser = pd.Series(index = range(5),         # Indizes
                data = [10,22,32,41,52],  # Daten
                dtype = float)            # Datentypen (optional)

ser

0    10.0
1    22.0
2    32.0
3    41.0
4    52.0
dtype: float64

##### Series mit nicht-nummerischen Indizes
- Bei solchen Series spricht man dann von Index-Labels.
- Duplikate in Index-Labels sind erlaubt.

In [62]:
labled = pd.Series(index = ('x', 'y', 'z', 'z'), # Index-Labels
                   data = [10, 20, 30, 40]       # Daten
                  )
labled

x    10
y    20
z    30
z    40
dtype: int64

##### Series mit Multi-Indizes
Dazu findet man Informationen in Pandas Dokumentation [hier](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)

##### Series-Objekte aus Python-Objekten
- Listen oder NumPy-Arrays
- Dictionary

In [63]:
# Beispiel: Dictionary aus Lehrenden mit ihren Fächern
teachers = {
    'Martin':'Mathe',
    'Julia':'Englisch',
    'Tom':'Physik',
    'Christine':'Informatik'
}

In [64]:
t = pd.Series(teachers)

In [65]:
t # keys: Indel-Labels und values: Daten

Martin            Mathe
Julia          Englisch
Tom              Physik
Christine    Informatik
dtype: object

#### Zugriff auf Elemente (Einzel)

geschieht mit Hilfe von Indizes bzw. Index-Labels

In [66]:
ser

0    10.0
1    22.0
2    32.0
3    41.0
4    52.0
dtype: float64

In [67]:
ser[2] # Element mit Index 2 aufrufen

np.float64(32.0)

In [68]:
# ser[-1] # KeyError: für Series ist negative Indizierung nicht definiert

Für den Zugriff auf einen einzelnen Element in Series hat Pandas ein spezifisches Attribut: 
- `.iloc[]` (nummerische Indizes) und 
- `.loc[]` (für nicht-nummerische Indizes).

In [69]:
ser.iloc[2]

np.float64(32.0)

In [70]:
t

Martin            Mathe
Julia          Englisch
Tom              Physik
Christine    Informatik
dtype: object

In [71]:
t.iloc[2]

'Physik'

In [72]:
#t.loc[2] # Fehler! denn iloc[] akzeptiert keine Zahlen als Index, sondern Labels

In [73]:
t.loc['Tom']

'Physik'

#### Zugriff auf einen Teilbereich (Slicing)

Slicing in Series geschieht ähnlich wie bei Listen oder NumPy Arrays:

- `.iloc[start:end:step]` Ähnlich wie Listen und Arrays: das letzte Element `end` exkludiert
- `.loc[start:end:step]` Hier ist das letzte Element `end` im Teilbereich mitdabei

In [74]:
ser

0    10.0
1    22.0
2    32.0
3    41.0
4    52.0
dtype: float64

In [75]:
ser.iloc[:3] # Elemente mit Indizes 0,1 und 2

0    10.0
1    22.0
2    32.0
dtype: float64

In [76]:
labled

x    10
y    20
z    30
z    40
dtype: int64

In [77]:
labled.loc['y':'z'] # Hier sind die Endelemente mit Indexlabel 'z' auch mitdabei

y    20
z    30
z    40
dtype: int64

In [78]:
labled.iloc[1:3] # bei iloc[] ist das letzte Element nicht mitdabei im Teilbereich

y    20
z    30
dtype: int64

In [79]:
t

Martin            Mathe
Julia          Englisch
Tom              Physik
Christine    Informatik
dtype: object

In [80]:
t.loc['Julia':'Christine':2] # mit einer Schrittweite von 2

Julia          Englisch
Christine    Informatik
dtype: object

#### Gruppieren (engl. groupby)

Wenn wir eine Spalte in einer Tabelle als ein Series betrachten, dann gibt es oft Spalten, in denen Kategorien gespeichert sind (binäre Kategorien: 0, 1 oder mehrfache: 0, 1, 2, etc.) 

- Wie viele /welche Kategorien sind überhaupt in der Spalte?
- Wie viele Einträge (Datensätze) gibt es unter jeder Kategorie

In [81]:
k = pd.Series(index=range(5),
              data=[21,31,42,59,16])
k

0    21
1    31
2    42
3    59
4    16
dtype: int64

In [82]:
k.values

array([21, 31, 42, 59, 16])

In [83]:
k.index

RangeIndex(start=0, stop=5, step=1)

In [84]:
k.shape

(5,)

Wir können die Zahlen im o.g. Seriesobjekt in 2 Kategorien einteilen: Gerade und ungerade Zahlen.
Wir können mit Hilfe von `%` beweisen, ob eine Zahl gerade oder ungerade ist:

```python
gerade % 2 == 0 # True
ungerade % 2 == 1 # True
```

Mit Hilfe der Methoden `groupby()` können wir dann diese Gruppen identifizieren:

In [85]:
gruppen = k.groupby(lambda x: x % 2 == 0)

In [86]:
for gruppe in gruppen:
    print(gruppe[0])
    print(gruppe[1])

False
1    31
3    59
dtype: int64
True
0    21
2    42
4    16
dtype: int64

In [87]:
for name, my_ser in gruppen:
    print(name)
    print(my_ser)

False
1    31
3    59
dtype: int64
True
0    21
2    42
4    16
dtype: int64

Wir haben ein `groupby` Objekt erzeugt. Dieses Objekt hat eigene Methoden, u.a. `get_group()`:

In [88]:
gruppen.get_group(False)

1    31
3    59
dtype: int64

In [89]:
gruppen.get_group(True)

0    21
2    42
4    16
dtype: int64

In dem o.g. Beispiel hat die Methode `groupby()` die Indizes berücksichtigt (anstatt Values)!

In [90]:
help(pd.Series.groupby)

Help on function groupby in module pandas.core.series:

groupby(self, by=None, axis: 'Axis' = 0, level: 'IndexLabel | None' = None, as_index: 'bool' = True, sort: 'bool' = True, group_keys: 'bool' = True, observed: 'bool | lib.NoDefault' = <no_default>, dropna: 'bool' = True) -> 'SeriesGroupBy'
    Group Series using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, pd.Grouper or list of such
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If a list or ndarray of length
        equal to the selected axis is passed (see the `groupby user guide
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
        the values are used as-is to determine the groups. A label or list
        of labels may be passed to group by the columns in ``self``.
        Notice that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1). For `Series` this parameter
        is unused and defaults to 0.

        .. deprecated:: 2.1.0

            Will be removed and behave like axis=0 in a future version.
            For ``axis=1``, do ``frame.T.groupby(...)`` instead.

    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels. Do not specify both ``by`` and ``level``.
    as_index : bool, default True
        Return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output. This argument has no effect
        on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group. If False,
        the groups will appear in the same order as they did in the original DataFrame.
        This argument has no effect on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).

        .. versionchanged:: 2.0.0

            Specifying ``sort=False`` with an ordered categorical grouper will no
            longer sort the values.

    group_keys : bool, default True
        When calling apply and the ``by`` argument produces a like-indexed
        (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
        index to identify pieces. By default group keys are not included
        when the result's index (and column) labels match the inputs, and
        are included otherwise.

        .. versionchanged:: 1.5.0

           Warns that ``group_keys`` will no longer be ignored when the
           result from ``apply`` is a like-indexed Series or DataFrame.
           Specify ``group_keys`` explicitly to include the group keys or
           not.

        .. versionchanged:: 2.0.0

           ``group_keys`` now defaults to ``True``.

    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. deprecated:: 2.1.0

            The default value will change to True in a future version of pandas.

    dropna : bool, default True
        If True, and if group keys contain NA values, NA values together
        with row/column will be dropped.
        If False, NA values will also be treated as the key in groups.

    Returns
    -------
    pandas.api.typing.SeriesGroupBy
        Returns a groupby object that contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
    detailed usage and examples, including splitting an object into groups,
    iterating through groups, selecting a group, aggregation, and more.

    Examples
    --------
    >>> ser = pd.Series([390., 350., 30., 20.],
    ...                 index=['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...                 name="Max Speed")
    >>> ser
    Falcon    390.0
    Falcon    350.0
    Parrot     30.0
    Parrot     20.0
    Name: Max Speed, dtype: float64
    >>> ser.groupby(["a", "b", "a", "b"]).mean()
    a    210.0
    b    185.0
    Name: Max Speed, dtype: float64
    >>> ser.groupby(level=0).mean()
    Falcon    370.0
    Parrot     25.0
    Name: Max Speed, dtype: float64
    >>> ser.groupby(ser > 100).mean()
    Max Speed
    False     25.0
    True     370.0
    Name: Max Speed, dtype: float64

    **Grouping by Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> ser = pd.Series([390., 350., 30., 20.], index=index, name="Max Speed")
    >>> ser
    Animal  Type
    Falcon  Captive    390.0
            Wild       350.0
    Parrot  Captive     30.0
            Wild        20.0
    Name: Max Speed, dtype: float64
    >>> ser.groupby(level=0).mean()
    Animal
    Falcon    370.0
    Parrot     25.0
    Name: Max Speed, dtype: float64
    >>> ser.groupby(level="Type").mean()
    Type
    Captive    210.0
    Wild       185.0
    Name: Max Speed, dtype: float64

    We can also choose to include `NA` in group keys or not by defining
    `dropna` parameter, the default setting is `True`.

    >>> ser = pd.Series([1, 2, 3, 3], index=["a", 'a', 'b', np.nan])
    >>> ser.groupby(level=0).sum()
    a    3
    b    3
    dtype: int64

    >>> ser.groupby(level=0, dropna=False).sum()
    a    3
    b    3
    NaN  3
    dtype: int64

    >>> arrays = ['Falcon', 'Falcon', 'Parrot', 'Parrot']
    >>> ser = pd.Series([390., 350., 30., 20.], index=arrays, name="Max Speed")
    >>> ser.groupby(["a", "b", "a", np.nan]).mean()
    a    210.0
    b    350.0
    Name: Max Speed, dtype: float64

    >>> ser.groupby(["a", "b", "a", np.nan], dropna=False).mean()
    a    210.0
    b    350.0
    NaN   20.0
    Name: Max Speed, dtype: float64

### Recherche-Aufgabe
Wie kann `groupby()` auf Values anstelle von Indizes zugreifen?
Das heißt eine Lösung mit `groupby()`, die gerade und ungerade Zahlen aus `ser` zurückliefert, ohne die Indexspalte vertauschen zu müssen

In [91]:
# Recherche-Aufgabe
ser = pd.Series(index=range(5),
                data=[21,31,42,59,16],
                name='Numbers')
ser
gruppen = ser.groupby(by=lambda x: ser.iloc[x] % 2 == 0)
for name, my_ser in gruppen:
    print(name)
    print(my_ser)

False
0    21
1    31
3    59
Name: Numbers, dtype: int64
True
2    42
4    16
Name: Numbers, dtype: int64

In [92]:
# Musterlösung

#### Abfragen erstellen

In [93]:
# Beispiel aus Pandas Doku
ser = pd.Series([390., 350., 30., 20.],
                index=['mercedes', 'audi', 'trabi', 'fiat'], 
                name="Max Speed")
ser

mercedes    390.0
audi        350.0
trabi        30.0
fiat         20.0
Name: Max Speed, dtype: float64

Wir suchen alle Objekte in Series, die eine Geschwindigkeit über 100 haben.

In [94]:
ser.unique()

array([390., 350.,  30.,  20.])

In [95]:
ser.name # Serienobjekt hat einen internen Namen

'Max Speed'

In [96]:
ser[ser>100] # alle Objekte aus 'ser' deren Value größer ist als 100

mercedes    390.0
audi        350.0
Name: Max Speed, dtype: float64

#### Weitere Funktion, Methoden und Attribute für Series

In [97]:
ser

mercedes    390.0
audi        350.0
trabi        30.0
fiat         20.0
Name: Max Speed, dtype: float64

Datentyp von Elementen ermitteln:

In [98]:
ser.dtype

dtype('float64')

Die Gestaltung (Form) eines Seriesobjekts: die Anzahl der Elemente

In [99]:
ser.shape # ähnlich wie len()

(4,)

In [100]:
len(ser)

4

Wichtige statistische Eckdaten ermitteln

In [101]:
ser.describe()

count      4.000000
mean     197.500000
std      199.895806
min       20.000000
25%       27.500000
50%      190.000000
75%      360.000000
max      390.000000
Name: Max Speed, dtype: float64

Für diese Angaben gibt es noch individuelle Methoden

In [102]:
ser.min() # minimum

np.float64(20.0)

In [103]:
ser.max() # max

np.float64(390.0)

In [104]:
ser.mean() # Durchschnitt

np.float64(197.5)

In [105]:
ser.median() # Median

np.float64(190.0)

In [106]:
ser.count() # die Anzahl der Elemente

np.int64(4)

In [107]:
ser.sum() # die Summe

np.float64(790.0)

All diese Attribute und Funktionen sind auch für Pandas Dataframes gültig.  

Im Prinzip und theoretisch kann man jede beliebige Funktion auf ein Series-Objekt anwenden.

Dazu muss die Methode `.apply()` eingesetzt werden.

In [108]:
ser.apply(np.log)

mercedes    5.966147
audi        5.857933
trabi       3.401197
fiat        2.995732
Name: Max Speed, dtype: float64

In [109]:
ser

mercedes    390.0
audi        350.0
trabi        30.0
fiat         20.0
Name: Max Speed, dtype: float64

In [110]:
ser.apply(lambda x: x%2)

mercedes    0.0
audi        0.0
trabi       0.0
fiat        0.0
Name: Max Speed, dtype: float64

In [111]:
ser_class = ser.apply(lambda x: x%2)

In [112]:
ser_class.unique() # Kategorien in Series ermitteln

array([0.])

In [113]:
# help(pd.Series.unique)