## Übung 1: Grundlegende Series-Erstellung und Zugriff auf Elemente
### Aufgabe 1:
- Erstelle eine Series mit den folgenden Daten: ['Apfel', 'Banane', 'Kirsche', 'Dattel', 'Erdbeere'] und nutze als Index die Buchstaben ['A', 'B', 'C', 'D', 'E'] .
- Greife auf das zweite und das letzte Element der Serie zu.
- Ändere das erste Element der Series auf 'Ananas' und gib die Serie erneut aus.

In [1]:
import pandas as pd

In [7]:
pd_obst = pd.Series(data = ['Apfel', 'Banane', 'Kirsche', 'Dattel', 'Erdbeere'], 
                    index = ['A', 'B', 'C', 'D', 'E'])
print(pd_obst.loc['B'], pd_obst.loc['E'])
pd_obst['A'] = 'Ananas'
pd_obst

Banane Erdbeere

A      Ananas
B      Banane
C     Kirsche
D      Dattel
E    Erdbeere
dtype: object

### Aufgabe 2:
- Erstelle eine Series mit Temperaturen der Woche: Temperaturen = [20, 21, 19, 22, 23, 24, 18] und als Index die Tage der Woche ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'] .
- Gib die Temperatur für Mittwoch aus.
- Ändere die Temperatur für Sonntag auf 19 und gib die Serie erneut aus.

In [9]:
pd_temp = pd.Series(data=[20, 21, 19, 22, 23, 24, 18],
                    index=['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'] )
print(pd_temp['Mi'])
pd_temp['So'] = 19
pd_temp

19

Mo    20
Di    21
Mi    19
Do    22
Fr    23
Sa    24
So    19
dtype: int64

### Aufgabe 3:
- Erstelle eine Series mit den Namen ['Alice', 'Bob', 'Charlie', 'David', 'Eve'] und ordne den Namen jeweils eine zufällige Punktzahl zu, z.B. [85, 90, 78, 88, 92] .
- Greife auf die Punktzahl von Bob zu und aktualisiere seine Punktzahl auf 95.
- Gib die Series mit den aktualisierten Werten aus.

In [11]:
pd_namen  = pd.Series(index=['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
                      data=[85, 90, 78, 88, 92],
                       dtype=float)
print(pd_namen['Bob'])
pd_namen['Bob'] = 95
pd_namen

90.0

Alice      85.0
Bob        95.0
Charlie    78.0
David      88.0
Eve        92.0
dtype: float64

## Übung 2: Mathematische Operationen auf Series
### Aufgabe 1:
- Erstelle eine Series namens preise mit den Werten [2.5, 3.0, 4.5, 3.75, 2.25] , die die Preise von Artikeln darstellt.
- Multipliziere alle Werte in der Series mit 1.19, um die Preise inklusive Mehrwertsteuer zu berechnen.
- Gib die Series nach der Berechnung aus und berechne anschließend den Gesamtpreis.

In [14]:
pd_preise = pd.Series(data=[2.5, 3.0, 4.5, 3.75, 2.25],
                      name='Preise' )
pd_preise *= 1.19
print(pd_preise)
print(f'Gesamtpreis: {pd_preise.sum():.2f}')

0    2.9750
1    3.5700
2    5.3550
3    4.4625
4    2.6775
Name: Preise, dtype: float64
Gesamtpreis: 19.04

### Aufgabe 2:
- Erstelle eine Series namens vorrat mit den Werten [5, 3, 6, 8, 2] , die die Anzahl der vorrätigen Artikel in einem Lager darstellt.
- Erhöhe die Werte um 10 %, um eine Lagerauffüllung zu simulieren.
- Gib die durchschnittliche Anzahl der Artikel im Lager vor und nach der Erhöhung an.

In [18]:
pd_vorrat = pd.Series(data=[5, 3, 6, 8, 2])
pd_vorrat *= 1.1
print(pd_vorrat)
print(f'durchschnittliche Anzahl der Artikel im Lager vor: {pd_vorrat.mean()/1.1}',
             f'und nach: {pd_vorrat.mean()}')

0    5.5
1    3.3
2    6.6
3    8.8
4    2.2
dtype: float64
durchschnittliche Anzahl der Artikel im Lager vor: 4.8 und nach: 5.28

### Aufgabe 3:
- Erstelle eine Series namens umsatz mit monatlichen Umsätzen in Tausend [50, 45, 60, 55, 70, 65] .
- Berechne für jeden Monat einen Bonus von 10 % des Umsatzes und speichere diesen als neue Series bonus .
- Gib den Gesamtwert von bonus sowie die Summe von umsatz + bonus aus.

In [20]:
umsatz = pd.Series(data=[50, 45, 60, 55, 70, 65])
bonus = umsatz * 1.1
bonus + umsatz

0    105.0
1     94.5
2    126.0
3    115.5
4    147.0
5    136.5
dtype: float64

## Übung 3: Logische Operationen und Filter
### Aufgabe 1:
- Erstelle eine Series namens alter mit Alterswerten [18, 21, 30, 16, 22, 25, 17, 19] .
- Filtere alle Einträge, bei denen das Alter über 18 Jahre liegt, und speichere diese in einer neuen Series .
- Gib die Anzahl der Alterswerte an, die genau 18 Jahre betragen.

In [23]:
alter = pd.Series(data=[18, 21, 30, 16, 22, 25, 17, 19])
alter_gr_18 = alter[alter>18]
alter_gr_18.count()

np.int64(5)

### Aufgabe 2:
- Erstelle eine Series mit dem Namen punkte und den Werten [60, 45, 88, 72, 90, 55, 40] , die die Punktzahl verschiedener Teilnehmer darstellt.
- Filtere alle Teilnehmer heraus, die mindestens 70 Punkte erreicht haben, und gib diese in einer neuen Series aus.
- Gib außerdem die Anzahl der Teilnehmer mit weniger als 50 Punkten an.

In [24]:
punkte = pd.Series(data=[60, 45, 88, 72, 90, 55, 40])
punkte_70 = punkte[punkte>=70]
punkte_50 = punkte[punkte<50]
print(punkte_70)
print(punkte_50)

2    88
3    72
4    90
dtype: int64
1    45
6    40
dtype: int64

### Aufgabe 3:
- Erstelle eine Series namens note mit Noten [2.5, 3.0, 1.7, 4.0, 2.0, 3.3, 1.0, 2.8] .
- Filtere alle Einträge heraus, bei denen die Note besser als 2.0 ist, und speichere diese in einer neuen Series beste_noten .
- Gib die Anzahl und den Durchschnittswert der Noten in beste_noten aus.

In [26]:
note = pd.Series(data=[2.5, 3.0, 1.7, 4.0, 2.0, 3.3, 1.0, 2.8])
beste_note = note[note<2]
print(f'Anzahl die beste Noten: {beste_note.count()} \nDurchschnittswert: {beste_note.mean()}')

Anzahl die beste Noten: 2
Durchschnittswert: 1.35